
   .footer{
    height: 8%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-size: medium;
    color: white;
    background-color:darkcyan;
  }
    
  
 